* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container{
    max-width: 100%;
    display: grid;
    grid-template-rows:10vh 1fr 10vh;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
/* Header */
.barra-icone{
    background-color: white;
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    padding-left: 30px;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}
.barra-icone a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    text-align: center; 
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.barra-icone a:hover {
    font-size: x-large;
    color: #ff5c5c;
    border-bottom:1px solid #ff5c5c;
} 
.barra-icone img{
    width: 16vh;
    padding: 0;
}
.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo h2 {
    margin: 3rem 0;
    color: black;
    font-size: 1.8rem;
}
.titulo p {
    font-size: 1.8rem;
}
.planos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
}
.planosbox{
    padding: 40px 40px;
    background-color: white;
    color: black;
    border-right: 1px dashed black;
    border-left: 1px dashed black;
    max-width: 100%;
    margin: 10px;
}
.planosbox h1 {
    padding: 0px 0px;
    text-align: center;
    margin: 0;
}
.planos h2 {
    margin: 1px;
    text-align: center;
}
.planos span {
    line-height: 35px;
}
.planosbox img {
    height: 120px;
    text-align: center;
}
.imagem {
    text-align: center;
}
.planosbox:hover {
    transform: translateY(-10px);
    background: var(--main-color);
    transition: 0.5s;
    --main-color: black;
    color: white; 
}
input[type="search"]{
    height: 25px;
    width: 100%;
}
input[type="text"]{
        height: 25px;
        width: 100%;
}
select{
        height: 25px;
        width: 100%;
}
table {
    color:black;
    margin-right: auto;
    margin-left: auto;
}
.tabela {
    width: 60%;
    margin: 0 auto;
     
}
.tabela th {
    color: black;
    padding: 5px;
    text-align: left;
}
.tabela td {
    color: black;
    padding: 5px;
    text-align: left;
}
button {
    width: 100px;
    text-align: center;
    margin-bottom: 50px;
}
button:hover {
    border:0;
    background: linear-gradient(90deg,#f3bcaf, #f4b3aa, #f5aaa6, #f5a1a3, #f498a2, #f38fa2);
}
div {
    text-align: center;
}
/* Footer */
#redesSociais {
    width: 100%;
    height: 12vh;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid lightgrey;
}
#redesSociais a {
    text-decoration: none;
    cursor: pointer;
}
#redesSociais h2 {
    color: black;
    padding: 0;
}
#redesSociais img{
    width: 40px;
    padding: 5px;
}
#redesSociais img:hover{
    width: 45px;
}
.icon{
    flex-direction: row;
    padding-top: 6px;
}