*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Contato */
#contato {
    height: 750px;
    background-color: white;
    text-align: center;
    color: pink;
}
#contato h2 {
    padding: 50px;
    font-size: 35px;
}
#contato form {
    width: 400px;
    margin: 0 auto;
}
#contato form input {
    display: block;
    margin: 15px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
#contato form textarea {
    display: block;
    margin: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}

/* Footer */
#redesSociais {
    display: block;
    width: 100%;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}
#redesSociais h2 {
    color: white;
}