* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container{
    display: grid;
    grid-template-rows:10vh 1fr 10vh;
    grid-template-columns: 1fr;

}
/* Header */
.barra-icone{
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 20%;
}
.barra-icone a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    text-align: center; 
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.barra-icone a:hover {
    font-size: x-large;
    color: #ff5c5c;
    border-bottom:1px solid #ff5c5c;
}  
.barra-icone img{
    width: 16vh;
}
article img{
    width: 20px;
}

/* Banner Page*/

.banner {
    width: 100vw;
    height: 600px;
    text-align: center;
    margin-bottom: 100px;
}

.banner img {
    padding: 0;
    width: 100vw;
    height: 600px;
    opacity: 0.8;
}

.msg-banner {
    background-color: white;
    width: 900px;
    height: 150px;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 10px 5px 13px black;
    margin-top: -108px;
    padding: 10px;
}

.msg-banner h1 {
    font-size: 43px;
    line-height: 69px;
}


/* Main */
/* Quem somos */

/* produtos-servicos */
#produtos-servicos {
    margin-top: 2em;
    padding: 2em 0;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#produtos-servicos h2 {
    color: #ff5c5c;
    font-size: xx-large;
    font-weight: bold;
}

#produtos-servicos>div {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#produtos-servicos>div> div, img , ul {
    padding: 1em;
}

.carro {
    max-width: 400px;
    max-height: 200px;
}
.carroluxo {
    max-width: 400px;
    max-height: 190px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;   
    font-size: larger;
}

.linhapopular {
    padding-left: 1em;
}
.linhaLuxo {
    padding-left: 1em;
}
.linhapopular:hover {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
}
.linhaLuxo:hover {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    
}
.linhaLuxo a, .linhapopular a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* Contato */
#contato {
    height: 450px;
    background-color: white;
    text-align: center;
    color: #ff5c5c;
}
#contato h2 {
    padding: 50px;
    font-size: 35px;
}
#contato form {
    width: 400px;
    margin: 0 auto;
}
#contato form input {
    display: block;
    margin: 15px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
#contato form textarea {
    display: block;
    margin: 15px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
}
/* Onde estamos */
#onde-estamos{
    background: color white;; 
    text-align: center; 
}
#onde-estamos img{
    height: 500px;
}
/* Footer */
#redesSociais {
    width: 100%;
    height: 17vh;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#redesSociais h2 {
    color: black;
    padding: 0;
}
#redesSociais img{
    width: 40px;
    padding: 5px;
}
#redesSociais img:hover{
    width: 45px;
}
.icon{
    flex-direction: row;
}
