* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Container */
.container{
    max-width: 1280px;
    display: grid;
    grid-template-rows:10vh 1fr 10vh;
    grid-template-columns: 1fr;
}
/* Header */
.barra-icone{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}
.barra-icone a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    text-align: center; 
    font-size: x-large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.barra-icone a:hover {
    font-size: x-large;
    color: #ff5c5c;
    border-bottom:1px solid #ff5c5c;
}  
.barra-icone img{
    width: 16vh;
    padding: 0;
}

/* Banner Page*/

.banner {
    width: 100vw;
    height: 600px;
    text-align: center;
    margin-bottom: 100px;
    opacity: 0.8;
    z-index: 0;
}

.banner img {
    padding: 0;
    width: 100vw;
    height: 600px;
}

.msg-banner {
    background-color: white;
    width: 900px;
    height: 150px;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 10px 5px 13px black;
    margin-top: -80px;
    padding: 10px;
    opacity: 0.8;
    z-index: 0;
}

.msg-banner h1 {
    font-size: 2rem;
    line-height: 50px;
}

.msg-banner h2 {
    font-size: 1.8rem;
    line-height: 69px;
}


/* Main */

/* Sobre a 4cars */
.sobre-4cars {
    height: 70vh;
    display: flex;
    align-items: flex-end;
}
#sobre-4cars img {
    width: 100vw;
    height: 55vh;
    margin: 10px 0;
    padding: 0;
}

/* produtos-servicos */
#produtos-servicos {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#produtos-servicos h2 {
    color: #ff5c5c;
    font-size: xx-large;
    font-weight: bold;
}

#produtos-servicos>div {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#produtos-servicos>div> div, img , ul {
    padding: 1em;
}

.carro {
    max-width: 400px;
    max-height: 200px;
}
.carroluxo {
    max-width: 400px;
    max-height: 190px;
}

ul {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;   
    font-size: larger;
}

.linhapopular {
    padding-left: 1em;
}
.linhaLuxo {
    padding-left: 1em;
}
.linhapopular:hover {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
}
.linhaLuxo:hover {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    
}
.linhaLuxo a, .linhapopular a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
/* Contato */
#contato {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

#contato > article {
    height: 450px;
    background-color: white;
    text-align: center;
    color: black;
}
#contato > article >  h2 {
    padding: 50px;
    font-size: 35px;
}
#contato > article > form {
    width: 400px;
    margin: 0 auto;
}
#contato  > article > form input {
    display: block;
    margin: 15px;
    width: 100%;
    height: 40px;
    padding: 6px;
    box-sizing: border-box;
}
#contato form textarea {
    display: block;
    margin: 15px;
    padding: 8px 6px;
    box-sizing: border-box;
}

#contato form input[type=submit]:hover {
    background: linear-gradient(90deg,#f3bcaf, #f4b3aa, #f5aaa6, #f5a1a3, #f498a2, #f38fa2);
    border: 0;
}

/* Onde estamos */
#onde-estamos{
    text-align: center; 
}
#onde-estamos img{
    height: 450px;
}


/* Footer */
#redesSociais {
    width: 100%;
    height: 12vh;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid lightgrey;
}
#redesSociais h2 {
    color: black;
    padding: 0;
}
#redesSociais img{
    width: 40px;
    padding: 5px;
}
#redesSociais img:hover{
    width: 45px;
}
.icon{
    flex-direction: row;
    padding-top: 6px;
}
